/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$blue-background: #073763;

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  /*width: 1000px;*/
  background-color: $blue-background;
}

header {
  background-color: $blue-background;
 }

footer {
  background-color: $blue-background;
  clear: both;
  color: #fff;
  font: 20px arial, sans-serif;
  height: 50px;
  text-align: center;
}

#container {
  width:100%;
}

#header-left {
  color: #fff;
  float: left;
  font: 30px arial, sans-serif;
}

#header-left a {
  text-decoration: none;
}

#header-right {
  float: right;
  text-align: right;
}

.clear {
  clear: both;
}

.margin-auto {
  margin: auto;
}
