// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$board-size: 482px;
$border-style: 1px solid #000;
$column-id-margin: 10px auto;
$cell-size: 60px;
$mobile-cell-size: 40px;
$mobile-board-size: 322px;
$mobile-border-style: 1px solid #000;

#games-container {
  background: white;
}

#board {
  border: $border-style;
  height: $board-size;
  margin: $column-id-margin;
  width: $board-size;
}

#games-center-column {
  /*float: left;*/
  /*margin: $column-id-margin;*/
  /*width: 50%;*/
}

#games-left-column {
  /*float: left;*/
  margin: $column-id-margin;
/*  width: 25%;*/
}

/*#games-right-column {
  float: right;
  margin: $column-id-margin;
  width: 25%;
}*/

#score-board {
  background-color: #808080;
  border: $border-style;
  color: #fff;
  height: 50px;
  margin: $column-id-margin;
  padding:5px;
  /*width: $board-size;*/
}

/*#user1-turn {
    margin: 0 auto 10px;
}

#user2-turn {
    margin: 0 auto 10px;
}*/

.brown-cell {
  background-color: #a17351;
}

.white-cell {
  background-color: #fff;
}

.square {
  float: left;
  height: $cell-size;
  width: $cell-size;
  text-align: center;
  line-height: $cell-size;
  font-size: 40px;
}

.turn {
  font-weight: bold;
  font-style: italic;
  position: relative;
  border-radius: 100%;
  background: #274e13;
  border: 1px solid #F7F7F7;
  width: 50px;
  height: 50px;
  margin: 0px 10px;
  text-align: center;
  color: #FFF;
  font-size: 10px;
  line-height: 50px;
  cursor: pointer;
}

.user1-info {
  background-color: #404040;
  color: #fff;
  border: $border-style;
  border-radius: 10px;
  padding: 5px;
}

.user2-info {
  background-color: #80cf87;
  color: #000;
  border: $border-style;
  border-radius: 10px;
  padding: 5px;
}

.icon {
  font-size: 45px;
}

.highlighted {
  border:3px solid yellow;
}

a {
  color:inherit;
  text-decoration: none;
}

.draggable { 
  width: $cell-size;
  height: $cell-size;
  float: left; 
  font-size: .9em; 
}

@media (max-width: 480px) {
  #board {
    border: $mobile-border-style;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: $mobile-board-size;
    margin: auto;
    width: $mobile-board-size;
  }
  .square {
    height: $mobile-cell-size;
    width: $mobile-cell-size;
    line-height: $mobile-cell-size;
    font-size: 25px;
  }

  .draggable { 
    width: $mobile-cell-size;
    height: $mobile-cell-size; 
    float: left; 
    font-size: .9em; 
  }
}



